@import "styles/mixins";

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  line-height: 1.15;
}

body {
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overflow-y: overlay;
  overscroll-behavior: none;
  touch-action: manipulation;
  -webkit-user-drag: none;
  -ms-content-zooming: none;
  font-family: var(--font-family);
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  vertical-align: baseline;
}

.container {
  max-width: $desktop-width;
  margin: 0 auto;

  @include smallDesktop {
    max-width: $smallDesktop-width;
  }

  @include tablet {
    max-width: $tablet-width;
  }

  @include phone {
    max-width: $phone-width;
  }

  @include smallPhone {
    max-width: $smallPhone-width;
  }
}
