@import "styles/_variables";

:root {
  --font-family: "Roboto Condensed", sans-serif;
  --second-font-family: "Inter", sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: $primary;
  }
}
